@charset "UTF-8";

/* --------------------
        全体
-------------------- */

:root {
  --theme-color: #0099ff;
  --sub-color: #333333;
  
  --font-jp: "Noto Sans JP";
  --font-an: "Outfit";
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  color: var(--sub-color);
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  font-family: var(--font-an), var(--font-jp), sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

image, img, iframe {
  width: 100%
}

main {
  max-width: 800px;
  margin: 0 auto; 
  padding: 30px;
}

section {
  margin-bottom: 50px;
}

div {
  margin-bottom: 50px;
}

.right-span {
  float: right;
}

/* --------------------
          ヘッダー
-------------------- */

header {
  background-color: var(--theme-color);
  color: #fff;
  width: 100%;
  height: 7em;
  padding: 8px 30px;
}

.header-title {
  color: #fff;
  font-weight: 900;
  font-style: normal;
}

/* --------------------
        見出し
-------------------- */

h2 {
  padding: 0.75em;/*文字周りの余白*/
  color: var(--sub-color);/*文字色*/
  background: #f3f3f3;/*背景色*/
  border-left: solid 8px var(--theme-color);/*左線（実線 太さ 色）*/
}

h3.mark {
  padding: 0.03em 0.5em;/*上下 左右の余白*/
  color: var(--sub-color);/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px var(--theme-color);/*左線*/
  border-top: 70%;
}

/* --------------------
        リンク
-------------------- */

a {
  color: var(--theme-color);
  text-decoration: none;
}

/* --------------------
        リスト
-------------------- */

ul li::marker {
  left: -10px;
  color: var(--theme-color);  /* 点の色をピンク系に変更 */
}

/* --------------------
          カード
-------------------- */

/* カードリスト */
.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
}

/* カード */
.card {
  position: relative;
  background: #f3f3f3;
  border-radius: 10px;
  flex-basis: 300px;
  flex-grow: 1;
  overflow: hidden;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-5px);
}

/* タグ */
.tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--theme-color);
  color: white;
  padding: 0.3em 0.6em;
  font-size: 0.8rem;
  border-radius: 4px;
}

/* カード中身 */
.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card h2 {
  font-size: 1.2rem;
  margin: 1rem;
}

.card-contents {
  margin: 0 1rem;
  flex-grow: 1;
}

/* ボタン */
.read-more {
  display: block;
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
  background:var(--sub-color);
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s;
}

.read-more:hover {
  background: #999;
}

/* --------------------
          表
-------------------- */

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #f0f0f0;
  width: 100%;
  min-width: 40%;
}
tr {
  background-color: #fff;
}
tr:nth-child(2n) {
  background-color: #f9f9f9;
}
th {
  background: var(--theme-color);
  color: #fff;
}
th {
  border: solid 1px #f0f0f0;
  padding: 1rem 0.5rem;
}
td {
  border: solid 1px #f0f0f0;
  padding: 1rem 1rem;
}

/* --------------------
          フッター
-------------------- */

footer {
  width: 100%;
  padding: 4em 40px;
  font-size: 15px;
  color: #999;
  background: #fff;
  border-top: 1px solid #e5e7eb;
}